@import 'tailwindcss';

@theme {
  --color-primary: #135bec;
  --color-primary-dark: #0e46b9;
  --color-background-light: #f8f9fc;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-text-main: #0d121b;
  --color-text-secondary: #4c669a;
  --color-code-bg: #1e293b;

  --font-family-display: 'Inter', sans-serif;
  --font-family-mono: 'JetBrains Mono', monospace;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    font-family: var(--font-family-display);
    @apply antialiased;
  }

  .font-mono {
    font-family: var(--font-family-mono);
  }

  .material-icon {
    display: inline-flex;
    font-family: 'Material Symbols Outlined';
    font-size: inherit;
    line-height: 1;
  }
}
